# dependencies
*node_modules
npm-debug.log*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea


# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
coverage.xml