<head>
<link href="{{ url('static', filename='style.css') }}" rel="stylesheet">
</head>

<p>
    <h2>{{text}}</h2>
</p>

<div style="display: none;">
    <ul>
        <li><a href="/oauth/bitbucket">Login with Bitbucket</a></li>
        <li><a href="/oauth/facebook">Login with Facebook</a></li>
        <li><a href="/oauth/github">Login with Github</a></li>
        <li><a href="/oauth/google">Login with Google</a></li>
        <li><a href="/oauth/twitter">Login with Twitter</a></li>
    </ul>
</div>

<form action="/start" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded"
      autocomplete="on">
    <h4>Create character or login with existing:</h4>
    E-mail (unique):
    <div class="form-group">
    <input type="text" class="form-control" name="email" placeholder="E-mail" id="email" required autofocus>
    </div>
    <br>
    Your name:
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name" id="name" required autofocus>
    </div>
    <br>
    Your character name:
    <div class="form-group">
        <input type="text" class="form-control" name="character_name" placeholder="Character name" id="character_name" required>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Start game!"/>
</form>
