<link rel="stylesheet" type="text/css"
href="{{ url('static', filename='style.css') }}" />

<p><h2>{{text}}</h2></p>

<form action="/start" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded"
      autocomplete="on">
    <h4>Create character or login with existing:</h4>
    E-mail (unique):
    <div class="form-group">
    <input type="text" class="form-control" name="email" placeholder="E-mail", id="email" required autofocus>
    </div>
    <br>
    Your name:
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name", id="name" required autofocus>
    </div>
    <br>
    Your character name:
    <div class="form-group">
        <input type="text" class="form-control" name="character_name" placeholder="Character name" id="character_name" required>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Start game!"/>
</form>
